/* navbar */
.nav{
    background: rgb(245, 245, 245);
    width: 1272px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
h1{
    display: flex;
flex-direction: row;
color: rgb(14, 14, 14);
gap: 10;
padding: 24px 160px 24px 160px;
}
.left{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding:24px 160px 24px 160px;
}
 .left ul li{
    list-style: none;
gap: 48;
padding: 12px 25px 12px 25px;
border: 1px solid ;
border-radius: 8px;
}
.left ul li a{
    color: rgb(0, 106, 80);
}
/* flag section */
.main{
    position:relative;
    width: 1000px;
    height: 500px;
    margin: 2px 130px 2px 130px;
    
}
.main-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}
h6{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.writing{
    width: 303px;
    height: 120px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 30px;
font-weight: 700;
line-height: 40px;
margin: 10px 0px;
}
.image{
    position: relative;
left: 70px;
}
.new-button{
background: rgb(0, 106, 80);
border-radius: 8px;
    padding: 17px 34px 17px 34px;
    border: solid 1px rgb(0, 106, 80);
}
/* light pic section */
.heading-up{
    margin-top: 80px;
    margin-left: 20px;
}
.main-div{
    width: 1272px;
    height: 600px; 
    background:white;
}
.three-div{
    width: 1272px;
    height: 100px;
    display: flex;
    
}
.easy-one {
width: 300px;
height: auto;
box-sizing: border-box;
margin: 20px ;
padding: 20px;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
.easy-two{
    width: 300px;
height: auto;
box-sizing: border-box;
margin: 20px ;
padding: 20px;
border-radius: 16px;
background: rgb(198, 228, 214);
}
.last{
    width: 300px;
height: auto;
box-sizing: border-box;
margin: 20px ;
padding: 20px;
border-radius: 16px;
background: rgb(247, 235, 207);
}
.learn{
    border-radius: 8px;
background: rgb(84, 144, 245);
padding: 10px;
border: 1px solid rgb(84, 144, 245);
color: white;
}
.learn-one{
    border-radius: 8px;
background: rgb(9, 161, 92);
padding: 10px; 
color: white;
border: 1px solid rgb(9, 161, 92) ;
}
.learn-two{
    border-radius: 8px;
background: rgb(255, 194, 57);
padding: 10px;
color: white;
border: 1px solid rgb(255,194,57) ;
}
/* yunus */
.down-part{
width: 1272px;
height: 250px;
background-color: rgb(222, 209, 209);
border-radius: 10px;
margin-left: 20px;
margin-right: 2px;
}
.just-work{
    margin-top: 300px;
    margin-left: 20px;
    padding: 13px;
    background-image: url(quote-bg.png);
    background-repeat:no-repeat;
    left: px;
}
/* satelite */
.satelite{
    margin-left: 20px;
    background-color: rgb(222, 209, 209);
    width: 1250px;
    height: 500px;
    border-radius: 10px;
    padding: 13px;
    margin-top: 10px;
}
.moon{
    width: 1250px;
    height: 120px;
    display: flex;
}
.sun{
    width: 350px;
    height: 300px;
    border-radius: 15px;
    margin-left: 20px;
    
}
img{
    border-radius: 8px;
}
.pragrap{

border-radius: 8px;
margin-left: 100px;

}
.what{
margin-left: 20px;
}
.Read{
    background:green;
    padding: 10px;
    color: white;
    border: 1px solid green;
    border-radius: 5px;
}
/* satelite part two */
.satelite-two{
    display: flex;
    margin-left: 20px;
    background-color: rgb(222, 209, 209);
    width: 1250px;
    height: 350px;
    border-radius: 10px;
    padding: 13px;
    margin-top: 10px;
}
.moon{
    width: 1250px;
    height: 120px;
    display: flex;
}
.sun-two{
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 15px;
}
.pragrap-two{
    margin-left: 20px;
}